<!DOCTYPE html>
<html>
<head>
  <title>ExOauthClient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      Welcome, <%= current_user.name %>!
    <% else %>
      <%= link_to "Sign in with ICIS Identity™", "/auth/icis" %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
